<ion-header>
  <ion-toolbar>
    <ion-title>
        Geolocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button *ngIf='!isStarted' (click)="startBackgroundTracking()" expand="full">
      Iniciar Tracking
    </ion-button> 

    <ion-button *ngIf='isStarted' (click)="stopBackgroundTracking()" expand="full">
      Parar Tracking
    </ion-button> 

    <ion-list>
      <ion-list-header>
        <ion-label>Location Coordinates foreground</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          Latitude:
        </ion-label>
        <ion-badge color="danger" >{{foreSignal?.latitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Longitude:
        </ion-label>
        <ion-badge color="danger" >{{foreSignal?.longitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Velocidade:
        </ion-label>
        <ion-badge color="danger" >{{foreSignal?.speed}} m/s²</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Time:
        </ion-label>
        <ion-badge color="danger" >{{foreSignal?.time | date:'medium'}}</ion-badge>
      </ion-item>
    </ion-list>

    <ion-button (click)="getLocations()" expand="full">
      Visualizar Rastro
    </ion-button> <br />

    <ion-button (click)="clearLocations()" expand="full">
      Limpar Rastro
    </ion-button> <br />

    <ion-list *ngIf='report.quantity > 0'>
      <ion-list-header>
        <ion-label>Relatatório Background</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          Quantidade de registros:
        </ion-label>
        <ion-badge color="danger" slot="end">{{report.quantity}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Data Final:
        </ion-label>
        <ion-badge color="danger" slot="end">{{report.initialDate}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Data Inicial:
        </ion-label>
        <ion-badge color="danger" slot="end">{{report.finalDate}}</ion-badge>
      </ion-item>
    </ion-list>

    <ion-list *ngFor="let location of locations">
      <ion-item>
        <ion-label>
          Latitude:
        </ion-label>
        <ion-badge color="danger" slot="end">{{location?.latitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Longitude:
        </ion-label>
        <ion-badge color="danger" slot="end">{{location?.longitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Velocidade:
        </ion-label>
        <ion-badge color="danger" slot="end">{{location?.speed}} m/s²</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Time:
        </ion-label>
        <ion-badge color="danger" slot="end">{{location?.time | date:'medium'}}</ion-badge>
      </ion-item>
    </ion-list>    
  </div>
</ion-content>